body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.list-container {
    background-color: #ffffff;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.header-container {
    text-align: left;
    background-color: #C2F1C8;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    top: 0;
}

#header-title {
    color: black;
    margin: 0;
    margin-left: 20px;
    font-size: 35px;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #e6f0e6;
    width: 150px;
    float: left;
}

.menu-item {
    padding: 15px;
    cursor: pointer;
    text-align: center;
    background-color: #d0e6c3;
    margin: 2px;
    border-radius: 5px;
}

.menu-item:hover {
    background-color: #81b57d;
    color: white;
}

.menu-item.selected {
    background-color: #81b57d;
    color: white;
}

.content {
    display: none;
    padding: 20px;
    margin-left: 170px;
    background-color: #f0f4f0;
    min-height: 200px;
}
